output
saves
worlds
backups
log.old.txt
log.txt
running.txt

assets/recents.txt

buildFloodForge.bat
FloodForge.exe
FloodForge
FloodForge.zip
FloodForge-Windows.zip
FloodForge-Linux.zip

TODO.md
CHANGES.md

.vscode/
*.tmp

bin
obj
/.vs/ProjectEvaluation
/_projects
