# Made by XenomorphicDNA

Background = #0F2221
Grid = #143027
Border = #C6A04A
BorderHighlight = #73e1f7
Popup = #0F2120
PopupHeader = #0C191E
Button = #1B4530
ButtonDisabled = #10322c
Text = #C6A04A
TextDisabled = #73873a
TextHighlight = #d8c378
SelectionBorder =#2CACC8
RoomBorder = #C6A04A
RoomBorderHighlight = #2CACC8
RoomAir = #455E3B
RoomLayer2Solid = #1B4530
RoomSolid = #0C191E
RoomPole = #0F2120
RoomPlatform = #0F2120
RoomShortcutEntrance = #2CACC8
RoomShortcutDot = #2CACC8
RoomShortcutRoom = #73e1f7
RoomShortcutDen = #C6A04A
RoomConnection = #C6A04A
RoomConnectionHover = #d8c378
RoomShortcutArrow = #73e1f7
RoomConnectionInvalid = #2CACC8
Layer0Color = #ffffff
Layer1Color = #7700ff
Layer2Color = #0062ff
